.vscode
.yarn
Backend/
Backend - Copy/
Coffee_MicroBackend/
Coffee_react/
Coffee_react_rr/
Coffee-App-React-Native/
Gd-int/
gg/
New folder/
React-Native-Chat-App-Backend-master/
React-Native-Chat-App-Frontend-master/
server/
temp/
test/
try/